# Data location configuration
GEOFREA_SHARED_RAW_DIR=
GEOFREA_DATA_DIR=
GEOFREA_LEGACY_BASELINE_DIR=
GEOWORLD_BASELINE_DIR=
CRAEI_BASELINE_DIR=

# External API credentials
PROTECTED_PLANET_API_KEY=
TERRASCOPE_USERNAME=
TERRASCOPE_PASSWORD=
